name: CD for gh-pages

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-22.04
    if: always()
    continue-on-error: true
    strategy:
      fail-fast: true

    steps:
      - name: Install dependencies
        run: |
          sudo DEBIAN_FRONTEND=noninteractive apt-get update
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - name: set XMAKE_GLOBALDIR
        run: echo "XMAKE_GLOBALDIR=${{ runner.workspace }}/xmake-global" >> $GITHUB_ENV

      - uses: xmake-io/github-action-setup-xmake@v1
        with:
          xmake-version: v2.8.2
          actions-cache-folder: '.xmake-cache'

      - name: xmake update -s dev
        run: xmake update -s dev

      - name: xmake repo --update
        run: xmake repo --update

      - name: cache
        uses: actions/cache@v3
        with:
          path: |
            ${{ env.XMAKE_GLOBALDIR }}/.xmake/packages
            ${{ runner.workspace }}/build/.build_cache
          key: ${{ runner.os }}-xmake-qt-${{ hashFiles('**/xmake.lua') }}

      - name: install aqt
        run: pip install -U pip && pip install aqtinstall

      - name: install Qt
        run: python3 -m aqt install-qt linux desktop 5.15.2 wasm_32 --autodesktop

      - name: config xmake
        run: xmake config -p wasm --qt=/home/runner/work/xmake-qt-wasm/xmake-qt-wasm/5.15.2/wasm_32 -vD --yes
      
      - name: BUILD
        run: xmake build

      - name: Push
        uses: s0/git-publish-subdir-action@develop
        env:
          REPO: self
          BRANCH: gh-pages # The branch name where you want to push the assets
          FOLDER: build/wasm/wasm32/release # The directory where your assets are generated
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # GitHub will automatically add this - you don't need to bother getting a token
          MESSAGE: "Build: ({sha}) {msg}" # The commit message


